Data Analysis with Pandas | Bike Stats | Ryan Pilon Nov 27th, 2020

What is the average trip duration for a borrowed bicycle?

What’s the most common age of a bicycle-sharer?

Given all the weather data here, find the average precipitation per month,{0.105065} and the median precipitation{0.0}.

What’s the average number of bikes at a given bike station? between 16 and 17

When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know? More likely to loose bikes because the average before is higher than the average of the current dockcount.

How many stations have been decommisioned since being installed? 4

What is the median of the current dock count? 18

What is the median of the install dockcount? 18

In [55]:
import pandas as pd

In [56]:
station = pd.read_csv("station.csv")
weather = pd.read_csv("weather.csv")
trip = pd.read_csv("trip.csv", sep = "csv.Sniffer")

In [57]:
station.info()
weather.info()
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        689 non-null    object
 1   Max_Temperature_F           689 non-null    int64
 2   Mean_Temperature_F          688 non-null    float64
 3   Min_TemperatureF            689 non-null    int64
 4   Max_Dew_Point_F             689 non-null    int64
 5   MeanDew_Point_F             689 non-null    int64
 6   Min_Dewpoint_F              689 non-null    int64
 7   Max_Humidity                689 non-null    int64
 8   Mean_Humidity               689 non-null    int64
 9   Min_Humidity                689 non-null    int64
 10  Max_Sea_Level_Pressure_In   689 non-null    float64
 11  Mean_Sea_Level_Pressure_In  689 non-null    float64
 12  Min_Sea_Level_Pressure_In   689 non-null    float64
 13  Max_Visibility_Miles        689 non-null    int64
 14  Mean_Visibility_Miles       689 non-null    int64
 15  Min_Visibility_Miles        689 non-null    int64
 16  Max_Wind_Speed_MPH          689 non-null    int64
 17  Mean_Wind_Speed_MPH         689 non-null    int64
 18  Max_Gust_Speed_MPH          504 non-null    object
 19  Precipitation_In            689 non-null    float64
 20  Events                      328 non-null    object
dtypes: float64(5), int64(13), object(3)
memory usage: 113.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286858 entries, 0 to 286857
Data columns (total 1 columns):
 #   Column                                                                                                                                                            Non-Null Count   Dtype
---  ------                                                                                                                                                            --------------   -----
 0   "trip_id","starttime","stoptime","bikeid","tripduration","from_station_name","to_station_name","from_station_id","to_station_id","usertype","gender","birthyear"  286858 non-null  object
dtypes: object(1)
memory usage: 2.2+ MB

In [58]:
avg_percipitation = weather[["Precipitation_In"]].mean()
avg_percipitation

Precipitation_In    0.105065
dtype: float64

In [59]:
median_percipitation = weather[["Precipitation_In"]].median()
median_percipitation

Precipitation_In    0.0
dtype: float64

In [60]:
avg_bikes = station[["current_dockcount"]].mean()
avg_bikes

current_dockcount    16.517241
dtype: float64

In [67]:
decommissioned_station = station[["install_date" , "decommission_date"]]
decommissioned_station

   install_date decommission_date
0    10/13/2014               NaN
1    10/13/2014               NaN
2    10/13/2014               NaN
3    10/13/2014               NaN
4    10/13/2014               NaN
5     7/27/2015               NaN
6    10/13/2014               NaN
7    10/13/2014               NaN
8    10/13/2014               NaN
9    10/13/2014               NaN
10    5/22/2015          8/9/2016
11   10/13/2014               NaN
12   10/13/2014               NaN
13   10/13/2014               NaN
14   10/13/2014               NaN
15   10/13/2014               NaN
16   10/13/2014               NaN
17   10/13/2014               NaN
18   10/13/2014               NaN
19   10/13/2014               NaN
20   10/13/2014               NaN
21   10/13/2014               NaN
22   10/13/2014               NaN
23   10/13/2014               NaN
24   10/13/2014               NaN
25   10/13/2014               NaN
26   10/13/2014         3/18/2016
27   10/13/2014               NaN
28   10/13/2014               NaN
29   10/13/2014               NaN
30   10/13/2014               NaN
31   10/13/2014               NaN
32   10/13/2014               NaN
33   10/13/2014               NaN
34   10/13/2014               NaN
35   10/13/2014               NaN
36   10/13/2014               NaN
37   10/13/2014               NaN
38   10/13/2014          7/2/2016
39   10/13/2014               NaN
40    6/12/2015               NaN
41    9/15/2015               NaN
42   10/13/2014               NaN
43   10/13/2014               NaN
44   10/13/2014               NaN
45   10/13/2014               NaN
46   10/13/2014        10/29/2015
47   10/13/2014               NaN
48   10/13/2014               NaN
49   10/13/2014               NaN
50   10/13/2014               NaN
51   10/13/2014               NaN
52   10/13/2014               NaN
53   10/13/2014               NaN
54    3/18/2016               NaN
55     7/3/2016               NaN
56   10/29/2015               NaN
57     8/9/2016               NaN

In [69]:
median_current_dockcount = station[["current_dockcount"]].median()
median_current_dockcount

current_dockcount    18.0
dtype: float64

In [70]:
median_install_dockcount = station[["install_dockcount"]].median()
median_install_dockcount

install_dockcount    18.0
dtype: float64

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip, None)
    assert_equal(most_common_age, None)
    assert_equal(avg_percipitation, None)
    assert_equal(median_percipitation, None)
    assert_equal(avg_bikes, None)
    assert_equal(decommissioned_station, None)
    assert_equal(median_install_dockcount, None)
    assert_equal(median_current_dockcount, None)
    print("Success!!!")

test()