Data Analysis with Pandas | Video Game Stats | Ryan Pilon Nov. 27th, 2020

1. Which company is the most common video game publisher?:    Nintendo
2. What’s the most common platform? : Wii

3. What about the most common genre? ; Sports

4. What are the top 20 highest grossing games? : Wii Sports, Super Mario Bros, Mario Kart Wii, Wii Sports Resort, Pokemon Red/Pokemon Blue, Tetris, New Super Mario Bros. , Wii Play, New Super Mario Bros. Wii, Duck Hunt, Nintendogs, Mario Kart DS, Pokemon Gold/Pokemon Silver, ,Wii Fit, Wii Fit Plus, Kinect Adventures!, Grand Theft Auto V, Grand Theft Auto: San Andreas, Super Mario World, Brain Age: Train Your Brain in Minutes a Day.

5. For North American video game sales, what’s the median? 0.08
  - Provide a secondary output showing ten games surrounding the median sales output
  - assume that games with same median value are sorted in descending order
7. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
8. How does its average number of sales compare with all of the other platforms?
Come up with 3 more questions that can be answered with this data set.

In [83]:
import pandas as pd
import numpy as np

In [84]:
video_games = pd.read_csv("vgsales.csv")
video_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [93]:
most_common_publisher = video_games[["Publisher", "Rank"]]
most_common_publisher

        Publisher   Rank
0        Nintendo      1
1        Nintendo      2
2        Nintendo      3
3        Nintendo      4
4        Nintendo      5
...           ...    ...
16593       Kemco  16596
16594  Infogrames  16597
16595  Activision  16598
16596    7G//AMES  16599
16597     Wanadoo  16600

[16598 rows x 2 columns]

In [86]:
most_common_platform = video_games[["Platform", "Rank"]]
most_common_platform

      Platform   Rank
0          Wii      1
1          NES      2
2          Wii      3
3          Wii      4
4           GB      5
...        ...    ...
16593      GBA  16596
16594       GC  16597
16595      PS2  16598
16596       DS  16599
16597      GBA  16600

[16598 rows x 2 columns]

In [87]:
most_common_genre = video_games[["Genre" , "Rank"]]
most_common_genre

              Genre   Rank
0            Sports      1
1          Platform      2
2            Racing      3
3            Sports      4
4      Role-Playing      5
...             ...    ...
16593      Platform  16596
16594       Shooter  16597
16595        Racing  16598
16596        Puzzle  16599
16597      Platform  16600

[16598 rows x 2 columns]

In [95]:
top_twenty_highest_grossing_games = video_games[["Name" , "Global_Sales"]]

AttributeError: 'DataFrame' object has no attribute 'range'

In [89]:
na_median_sales = video_games[["NA_Sales"]].median()
na_median_sales

NA_Sales    0.08
dtype: float64

In [90]:
mcc = video_games[["NA_Sales"]].mode()
mcc

   NA_Sales
0       0.0

In [91]:
ten_median_na_seller_names = video_games[video_games["NA_Sales"] == np.median(mcc)][["Name", "NA_Sales"]]
ten_median_na_seller_names

                                                    Name  NA_Sales
214                             Monster Hunter Freedom 3       0.0
338                                    Friend Collection       0.0
383                                     Monster Hunter 4       0.0
402    English Training: Have Fun Improving Your Skills!       0.0
426                 Dragon Quest VI: Maboroshi no Daichi       0.0
...                                                  ...       ...
16587                           Mezase!! Tsuri Master DS       0.0
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...       0.0
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...       0.0
16595   SCORE International Baja 1000: The Official Game       0.0
16596                                         Know How 2       0.0

[4499 rows x 2 columns]

In [94]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().